<template>
  <div class="home">
    <Navbar></Navbar>
    <Hero/>
         <!--  <div class="container h-100">
        <div class="row p-5 h-100 justify-content-center align-items-center">
          <div class="col-md-6">
            <img src="/img/svg/joy.svg" alt="" width="400">
          </div>
          <div class="col-md-6 custom-title">
            <h3>En<strong>joy</strong> the ride of life.</h3> <br>
           
             <button class="btn custom-btn btn-outline-success mr-4"><i class="fa fa-book"></i> Get e-Book</button>
          </div>
        </div>
        
</div>-->
<Footer />
  </div>
</template>

<script>
// @ is an alias to /src
import Hero from "@/components/Hero.vue";
import Footer from "@/components/Footer.vue";




export default {
  name: "home",
  components: {
    Hero, Footer
  }
};
</script>

<style scoped lang="scss">

	.custom-title{
	font-family: 'Roboto', sans-serif;
  	color: green;	
	}

</style>