   <template> 

   	<div class="footer">
   	<footer >
      Copyright 2019 - <a class="footer-color"href="dailyspiritjuice.com">Daily Spirit Juice&copy;</a>
    </footer>
    </div>

</template>

<script>
export default {
  name: "Footer",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import url('https://fonts.googleapis.com/css?family=ABeeZee&display=swap');
.footer {
font-family: 'ABeeZee', sans-serif;	
  height: 50px;
  margin-top: 174px;
  color: white;
  font-size: 24px;
  
}

.footer-color{
	color:white;
}

</style>