<template>
    <div class="hero">
        <div class="container h-100">
          <div class="row h-100 justify-content-center align-items-center">
            <div class="col-md-12">
              <div class="hero-content">
                <h1 class="hero-title col-md-12">
                  The First Ever Smart Blog App <br>Mind Therapy At Your Finger Tips
                </h1>
              
                <div class="hero-btn">
                    
                    <router-link to="/about" class="btn custom-btn btn-success">Explore</router-link>&nbsp;
                    <button class="btn custom-btn btn-secondary">Products</button>
               
                </div>
              </div>
            </div>
            <!--<div class="col-md-4">
                <div class="graphic">
                    <img class="img-fluid"src="/img/svg/graphic.svg" alt="">
                </div>
            </div>-->

          </div>
        </div>
    </div>
</template>

<script>
export default {
  name: "Hero",
  props: {
    msg: String
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import url('https://fonts.googleapis.com/css?family=ABeeZee&display=swap');
  .hero{
  	background-color: transparent; 	
    padding-top: 7rem;
    width: 100%;
    height: 500px;
    font-family: 'ABeeZee', sans-serif;
    text-align: left;
  }
  .hero-title {
  color: green;
  font-family: 'ABeeZee', sans-serif;
  font-weight: light;
  position: relative;
  top: 3px;
  left: 50%;
  transform: translate(-50%, -120%);
  z-index: 2;
  width: 80%;
  padding: 1px;

  text-align: center;
  }

  .hero-btn
  {
  	padding-left: 420px;
  	transform: translate(-3%, -180%);
  }


</style>