<template>
  <div class="hello-2">
 <nav class="navbar navbar-expand-lg navbar-2 fixed-top">
  <img class="resp-img navbar-brand img-fluid col-md-1" src="/img/png/logo.png"> 
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


</nav>
  </div>
</template>

<script>
$(window).scroll(function(){
  $('nav').toggleClass('scrolled', $(this).scrollTop() > 50);
});

export default {
  name: "Navbar",
  props: {
    msg: String
  },
  components:{}
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
@import url('https://fonts.googleapis.com/css?family=ABeeZee&display=swap');
.navbar-2{
font-family: 'ABeeZee', sans-serif;
  background: transparent;
  transition:500ms ease;
}

.navbar-2.scrolled {
  background: #EEF9EA;
}

.colored{
  color: red;
  text-size: 30px;
}

.resp-img{
  width: 100%;
  max-width: 100px;
  height: auto;
}

</style>
