@import '~bootstrap/scss/bootstrap';
@import './admin.scss';
@import url('https://fonts.googleapis.com/css?family=ABeeZee&display=swap');

body, html{
    font-family: 'ABeeZee', sans-serif;
    background-color: #ECFEF1;
    background-image: url("~/img/meditation.jpg");
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
 

}
.custom-btn{
    // border-radius: 10rem;
    padding: 0.5rem 2.5rem;
}
// hide scroll bar
.sidebar-content {
    -ms-overflow-style: none;  // IE 10+
    overflow: -moz-scrollbars-none;  // Firefox
}
.sidebar-content::-webkit-scrollbar { 
    display: none;  // Safari and Chrome
}

#app {
  font-family: 'Arima Madurai';
}




